apiVersion: v1
data: {}
kind: ConfigMap
metadata:
  labels:
    config.openshift.io/inject-trusted-cabundle: "true"
  name: ca-inject
  namespace: ldaps-sync
  annotations:
    argocd.argoproj.io/sync-wave: "2"